$primary-moderate: hsl(263, 55%, 52%);
$primary-dark-grayish: hsl(217, 19%, 35%);
$primary-dark-blackish: hsl(219, 29%, 14%);
$primary-light: hsl(0, 0%, 100%);

$neutral-light: hsl(0, 0%, 81%);
$neutral-grayish-blue: hsl(210, 46%, 95%);
