@use '../abstract/typography';
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: typography.$primary-font;
    font-size: 1.3rem;
    font-weight: 500;
}
