@use '../abstract/typography';
@use '../abstract/variables';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;

    @media only screen and (max-width: variables.$bp-large) {
        font-size: 52%;
    }

    @media only screen and (max-width: variables.$bp-medium) {
        // font-size: 37.5%;
    }

    @media only screen and (max-width: variables.$bp-small) {
        // font-size: 31.25%;
    }
}

body {
    font-family: typography.$primary-font;
    font-size: 1.3rem;
    font-weight: 500;
}
